    <main>
        <div id="about-me">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img id="me" src="../../public/images/lili.png" alt="a picture of Lili">
                </div>
                <div class="flip-box-back">
                    <p id="bio">
                        <strong>Hi, I’m Natalie Fortes.</strong> <br>
                        But, you can call me Lili. I’m a Junior at Stevens Institute of Technology, majoring in Computer Science with a minor in Math. I’m interested in Data Science and Web Design, and I am currently looking for internship opportunities.
                    </p>
                </div>
            </div>
        </div>
        <div class="home-sections">
            <a href="/my-interests">
                <div class="square">
                    <img src="../../public/images/latte.png" alt="latte">
                    <p>my interests</p>
                </div>
            </a>
        </div>
        <div class="home-sections">
            <a href="/skills-and-experience">
                <div class="square">
                    <img src="../../public/images/pudding.png" alt="pudding">
                    <p>skills and experience</p>
                </div>
            </a>
        </div>
    </main>  