<main id="interests">
    <div id="art-design" class="interests">
        <div class="inner-arc">
            <h2>art & design</h2>
            <img src="../public/images/biscoffee.png">
            <p>Currently, I’m most interested in art and design. While it’s mostly a hobby, I like to integrate my love
                for aesthetics in my professional and academic life, taking design courses and creating websites.</p>
        </div>
        <p>chef's special</p>
    </div>
    <div id="math" class="interests">
        <h2>math</h2>
        <img src="">
        <img src="">
        <p>I’m a math minor, and I hope to apply what I learn in my math and CS classes to projects in Data Science.</p>
    </div>
    <div id="interests-right">
        <div id="music">
            <h2>music</h2>
            <img src="">
            <p>I’ve been playing guitar, singing, and songwriting for a few years. I’ve started to take my love of music
                into CS, as I’ve started making a Spotify statistics app. </p>
        </div>
        <div id="others">
            <div>

            </div>
            <div>
                <h2>others</h2>
                <p>culture, fashion, food</p>
            </div>
        </div>
    </div>
</main>