body {
  margin-left: 3.5%;
  margin-right: 3.5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#interests {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-gap: 10px;
  > div {
    border: 1px solid black;
  }
}

.inner-arc {
  border: 1px solid black;
  border-radius: 50% 50% 0 0; /* creates a half oval shape */
  overflow: hidden; /* hides the overflow content outside the oval shape */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;

  img {
    width: 75%;
  }
}
