* {
  font-family: helvetica;
  box-sizing: border-box;
}

header {
  > p {
    border: 1px solid black;
    border-radius: 25px;
    padding: 1% 2%;
  }
}

#top {
  display: flex;
  justify-content: space-between;

  > .right {
    float: right;
    align-self: center;
  }

  nav {
    margin: 15px 0px;
  }
}

#cart {
  height: 8vh;
}
